<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUwEQG7gWm8aIzdYG_38pEUnKZGrf9OgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>182192105422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysoca.app</string>
	<key>PROJECT_ID</key>
	<string>mysoca-5af08</string>
	<key>STORAGE_BUCKET</key>
	<string>mysoca-5af08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182192105422:ios:357a99c5111562ee452d9f</string>
</dict>
</plist>